<script type="text/javascript">
  $(function(){
    $(".navbar").removeClass("navbar-devise");
    $(".navbar").addClass("navbar-default");
  });
</script>

<div class="jumbotron">
  <%= render "partial/navbar" %>

  <div class="container">
    <div class="row">
     <div class="col-md-6 col-md-offset-3 text-center">
       <h1 class="display-3">Food Sharing</h1>
       <p class="display-3">近所に住んでいる人と食べ物をシェアしよう。</p>
     </div>
   </div>
  </div>
</div>
