    <hr>
    <div class="row">
      <div class="col-md-2 text-center">
        <div class="row">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row-space-1">
          <%= @review.description %>
        </div>
      </div>
    </div>
